/.coverage
/__pycache__/
/app/__pycache__/
/app/auth/__pycache__/
/coverage
/data_store/__pycache__/
/instance/__pycache__/
/venv/
__pycache__/__init__.cpython-37.pyc
__pycache__/test_auth.cpython-37-PYTEST.pyc
__pycache__/test_parcel_orders.cpython-37-PYTEST.pyc

tests/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/test_auth.cpython-37-PYTEST.pyc
tests/__pycache__/test_parcel_orders.cpython-37-PYTEST.pyc
tests/.coverage
/models/__pycache__/
models/__pycache__/

